.primary-btn {
  background: linear-gradient(to top, var(--robe-dark), var(--robe-light));
  @apply h-16 rounded-sm text-white cursor-pointer;
}

p,
h1,
h2,
h3 {
  color: var(--text-default);
}

/* .card:hover h3 p,
.card:hover h3 p span {
  color: var(--gold)!important;
} */
