/* generally applicable styles */
body {
  font-family: var(--font-deja-vu-sans), sans-serif;
}

.text-default {
  color: var(--text-default);
}

.bg-default {
  background-color: var(--bg-default);
}

p,
h1,
h2,
h3 {
  color: var(--text-default);
}

.center {
  @apply w-full grid place-items-center;
}

/* general components  */

/* a problem to solve here... */
.primary-btn {
  background: linear-gradient(to top, var(--robe-dark), var(--robe-light));
  @apply h-16 rounded-sm text-white cursor-pointer;
}

.primary-btn {
  background: linear-gradient(to top, --color-robe-dark, --color-robe-light);
  @apply h-20 rounded-b-sm;
}

.card {
  background: linear-gradient(to top right, #d0dbd0, #f1f8f1);
  border: solid 1px #d0dbd0;
  transition: ease-in 0.3s;
  @apply rounded-xl relative cursor-pointer pt-6 pb-4 px-6 sm:!px-8 w-[90vw] max-w-xl;
}

.dark .card {
  background: linear-gradient(to top right, #420301, #2e092b);
  border: solid 1px rgb(110, 110, 110);
}

.card:hover {
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.25);
  /* background: linear-gradient(to top right, #420301, #2e092b);
  transition: ease-in 0.3s; */
}

.card-list-container {
  @apply w-full flex flex-col items-center gap-8;
}

/* .card:hover h3 p,
.card:hover h3 p span {
  color: var(--gold)!important;
} */
