@import 'tailwindcss';
/* @import url('/public/styles/app.css'); < did not work */


@theme {
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;

  --color-bvprimary-green: #2e8132;
  --color-bvlight-green: #4bb41d;
  --color-bvrobe-regular: #bd7d36;
  --color-bvrobe-dark: #844114;
  --color-bvrobe-light: #d38e41;
  --color-bvrobe-semidark: #ac6b2a;
  --color-gold: #edc700;

  --font-dejavusans: 'Deja Vu Sans';
}

:root {
  /* --background: #ededed;
  --foreground: #171717; */
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0f2607;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-deja-vu-sans), sans-serif;
}

.primary-btn {
  background: linear-gradient(to top, var(--color-bvrobe-dark), var(--color-bvrobe-light));
  @apply h-16 rounded-b-sm text-white cursor-pointer
}